<div class='wrapper-right'> 
    <div id='footer1'>
        <div class='checkusout-wrapper'>
            <a class='footer' href='https://worldofwarcraft.com/en-us/guild/us/aerie-peak/singularity' target="new_window">
                <div class='checkusout-name'>
                    <div class='checkusout-left'>
                        Wow Armory
                    </div>
                </div>
            </a>
            <a class='footer' href='https://raider.io/guilds/us/aerie-peak/singularity' target="new_window">
                <div class='checkusout-name'>
                    <div class='checkusout-left'>
                        Raider.io
                    </div>
                </div>
            </a>
                <a class='footer' href='https://www.warcraftlogs.com/guild/us/aerie-peak/singularity' target="new_window">
                <div class='checkusout-name'>
                    <div class='checkusout-left'>
                        Warcraft Logs
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div id='footer2'>
        <div id="eventsBar" class='wrapper-event'>
            <div class='event-week'>
                <h8 id="eventHeader" class='title'></h8>
            </div>
        </div>
    </div>
    <div id='footer3' style="display: none;">
        <div class='checkusout-wrapper'>
            <a class='footer' href='/Leadership'>
                <div class='checkusout-name'>
                    <div class='checkusout-left'>
                        Leadership
                    </div>
                </div>
            </a>
            <a class='footer' href='/Team'>
                <div class='checkusout-name'>
                    <div class='checkusout-left'>
                        Raid Team
                    </div>
                </div>
            </a>
                
        </div>        
    </div>
</div>