<div class='footer-card-wrapper'>
  <a href='https://worldofwarcraft.com/en-us/guild/us/aerie-peak/aphelion' target="new_window">
<div class='armory-card'>
    <h1 class='title-text2'>WoW Armory</h1>
        <h1 class='content-text'>
             Check us out on the official  World of Warcraft Armory, where you can browse all of the guilds characters. 
  </h1>   
</div>
</a>

<a href='https://raider.io/guilds/us/aerie-peak/aphelion' target="new_window">
<div class='raiderio-card'>
    <h1 class='title-text2'>Raider.io</h1>
        <h1 class='content-text'>
             View the raid rankings, mythic+ scores, and compare the recent raid progress between guilds
  </h1>   
</div>
</a>

<a href='https://www.warcraftlogs.com/guild/us/aerie-peak/aphelion' target="new_window">
<div class='logs-card'>
    <h1 class='title-text2'>Warcraft Logs</h1>
        <h1 class='content-text'>
             Analyze raid performance, ranking and combat data from the most recent raid nights
  </h1>   
</div>
</a>
</div>