<!-- header bar-->    
<div class='logo-bar'>
    <div class='menu-wrapper'>
        <div class='logo-div'>
            <a href="~/">
                <img class='logo-img' src='~/images/logos/singularitylogo.png'>
            </a>
        </div>
    </div>
</div>

<!-- Navigation Menu-->
<div class='nav-bar'>
    <div class='menu-wrapper'>
        <nav>
            <ul>
                <li class='menu-link'><a class='menu' href="/AboutUs" class="nav-link">About Us</a></li>
                <li class='menu-link'><a class='menu' href="/Team" class="nav-link">Team</a></li>
                <li class='menu-link'><a class='menu' href="/Race" class="nav-link">Race</a></li>
                <li class='menu-link'><a class='menu' href="/Gallery" class="nav-link">Gallery</a></li>
                <li class='menu-link'><a class='menu' href="/Vods" class="nav-link">PotW</a></li>
                <li class='menu-link'><a class='menu' href="/Apply" class="nav-link">Apply</a></li>
            </ul>
        </nav>        
    </div>
</div>

<div class='webpage'>
    <div class='wrapper-left'>
        <div class='banner'>
            <img src='~/images/banners/singularity.png'>
        </div>
    </div>
</div>

            