<!-- header bar-->    
<div class='logo-bar'>
    <div class='menu-wrapper'>
        <div class='logo-div'>
            <a class='logo' href="~/">
                <img class='logo-img'src='images/logos/singularitylogo.png'>Singularity
            </a>
        </div>
    </div>
</div>

<!-- Navigation Menu-->
<div class='nav-bar'>
    <div class='menu-wrapper'>
        <div class='menu-link'><a class='menu' href='/AboutUs'>About Us</a></div>
        <div class='menu-link'><a class='menu' href='/Team'>Team</a></div>
        <div class='menu-link'><a class='menu' href='/Race'>Race</a></div>
        <div class='menu-link'><a class='menu' href='/Gallery'>Gallery</a></div>
        <div class='menu-link'><a class='menu' href='/Vods'>Vods</a></div>
        <div class='menu-link'><a class='menu' href='/Apply'>Apply</a></div>
    </div>
</div>

            