<!-- header bar-->    
<div class='logo-bar'>
    <div class='menu-wrapper'>
        <div class='logo-div'>
            <a href="~/">
                <img class='logo-img' src='~/images/logos/singularitylogo.png'>
            </a>
        </div>
    </div>
</div>

<!-- Navigation Menu-->
<div class='nav-bar'>
    <div class='menu-wrapper'>
        <div class='menu-link'><a class='menu' href='/AboutUs'>About Us</a></div>
        <div class='menu-link'><a class='menu' href='/Team'>Team</a></div>
        <div class='menu-link'><a class='menu' href='/Race'>Race</a></div>
        <div class='menu-link'><a class='menu' href='/Gallery'>Gallery</a></div>
        <div class='menu-link'><a class='menu' href='/Vods'>PotW</a></div>
        <div class='menu-link'><a class='menu' href='/Apply'>Apply</a></div>
    </div>
</div>

<div class='webpage'>
    <div class='wrapper-left'>
        <div class='banner'>
            <img src='~/images/banners/singularity.png'>
        </div>
    </div>
</div>

            