<!DOCTYPE html>
<html lang="en">
<html>

<head>
    <title>Aphelion</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="_Header" />

    <div class='webpage'>
        <div class='wrapper-left'>
            
            <main id="main-content" role="main" class="pb-3 content-main">
                @RenderBody()
            </main>
        </div>

        <partial name="_RightMenu" />
        
    </div>
    <div class='footer'>
         <partial name="_Footer" />
        <script src="~/js/site.js"></script>
        @RenderSection("Scripts", required: false)
    </div>
<div class="copyright"></div>
    <p class="c-text">&copy; 2025 - Aphelion</p>
</div>    
</body>
</html>