<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/main.css" />
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
    </head>

    <body>
        <header>
            <partial name="_Header" />
        </header>
        <div class="content-wrapper">
            <main role="main" class="pb-3 content-main">
                @RenderBody()
            </main>
            <footer>
                <partial name="_Footer" />
            </footer>
        </div>
    </body>
</html>