<div class='wrapper-right'> 
    <div id='RightMenu2'>
        <div id="eventsBar" class='wrapper-event'>
            <div class='event-week'>
                <h8 id="eventHeader" class='events'>Upcoming Events</h8>
            </div>
        </div>
    </div>
     <div id='RightMenu1'></div>
        <div class='checkusout-wrapper'>
            <a class='submenu' href='https://worldofwarcraft.com/en-us/guild/us/aerie-peak/aphelion' target="new_window">
                
                        Wow Armory
                    
            </a>
            <a class='submenu' href='https://raider.io/guilds/us/aerie-peak/aphelion' target="new_window">
                
                        Raider.io
                    
            </a>
                <a class='submenu' href='https://www.warcraftlogs.com/guild/us/aerie-peak/aphelion' target="new_window">
                
                        Warcraft Logs
                    
            </a>
        </div>
    </div>
    <div id='RightMenu3' style="display: none;">
        <div class='checkusout-wrapper'>
            <a class='RightMenu' href='/Leadership'>
                <div class='checkusout-name'>
                    <div class='checkusout-left'>
                        Leadership
                    </div>
                </div>
            </a>
            <a class='RightMenu' href='/Team'>
                <div class='checkusout-name'>
                    <div class='checkusout-left'>
                        Raid Team
                    </div>
                </div>
            </a>
                
        </div>        
    </div>
</div>