<div class='wrapper-right'> 
    <div id='RightMenu2'>
        <div id="eventsBar" class='wrapper-event'>
            <div class='event-week'>
                <h8 id="eventHeader" class='events'>Upcoming Events</h8>
            </div>
        </div>
    </div>
     <div id='RightMenu1'></div>
        <div class='checkusout-wrapper'>
            <a class='submenu' href='/'>
                        Who are We? 
            </a>
            <a class='submenu' href='/history'>
                        History
            </a>
            <a class='submenu' href='/news'>
                        News
            </a>
        </div>
    </div>
    <div id='RightMenu3' style="display: none;">
        <div class='checkusout-wrapper'>
            <a class='RightMenu' href='/Leadership'>
                <div class='checkusout-name'>
                    <div class='checkusout-left'>
                        Leadership
                    </div>
                </div>
            </a>
            <a class='RightMenu' href='/Team'>
                <div class='checkusout-name'>
                    <div class='checkusout-left'>
                        Raid Team
                    </div>
                </div>
            </a>
                
        </div>        
    </div>
</div>