@page "/history"
@using Singularity.Pages.AboutUs;

@model IndexModel
@{
    ViewData["Title"] = "About Us";
}

<div class='wrapper-content'>
    <div class='div-content'>
        <div class="title-bar">
                        <h2 class="title-text">History</h2>
        </div>

        <h1 class='content-text'>Let's just assume that there's something about our history here</h1> <br>    
    </div>
</div>