@page "/news"
@using Singularity.Pages.AboutUs;

@model IndexModel
@{
    ViewData["Title"] = "About Us";
}

<div class='wrapper-content'>
    <div class='div-content' id='news'>
        <div class="title-bar">
                        <h2 class="title-text">News</h2>
        </div>

        <h1 class='content-text'>Yada Yada current WoW events</h1> <br>    
    </div>
</div>