body {
    margin: 0px;
    min-width:800px;
    background-color: #121212;
}

.hidden {
    display: none;
}

/* Top Logo Bar CSS */
.logo-bar {
    Position: relative;
    background-color: #121212;
    display: flex;
    align-items: center;
    top: 0px;
    Height: 70px;
    width: 100%;
    border-top: 1px solid black;
}

.logo-div {
    float: left;
    Height:55px;
    width: 300px;
}

.logo-img {
    float:left;
    margin-right:10px;
    display: block;
    Height:55px;
    width: 55px;
}

.logo {
    text-decoration: none;
    letter-spacing: 2px;
    -webkit-text-stroke: 1px #4be4b3;
    color: #ffffff;
    font-weight: normal;
    font-family: 'Orbitron';
    text-shadow:
      0 0 1px #4be4b3,
      0 0 3px #4be4b3,
      0 0 7px #4be4b3,
      0 0 12px #4be4b3,
      0 0 17px #4be4b3;
    font-size: 1.8em;
    line-height: 55px;
}

/* Main Navigation Bar */
.nav-bar {
    Position: sticky;
    z-index: 10;
    top: 0px;
    Height: 45px;
    width: 100%;
    background-image: linear-gradient( to bottom, #000000, #29035d);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,1);
}

.nav-bar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu-wrapper {
    margin: auto;
    width: 1200px;
}

.menu-link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    Height: 45px;
    padding-left: 30px;
    padding-right: 60px;
}

.menu:active {
    transition: .5s;
    text-decoration: none;
    color: #ffffff;
    font-weight: normal;
    font-family: 'Orbitron';
    font-size: 1.5em;
}

.menu:link {
    transition: .5s;
    text-decoration: none;
    -webkit-text-stroke: 1px #4be4b3;
    color: #ffffff;
    font-weight: normal;
    font-family: 'Orbitron';
      font-size: 1.5em;
}


.menu:visited {
    transition: .5s;
    text-decoration: none;
    -webkit-text-stroke: 1px #4be4b3;
    color: #ffffff;
    font-weight: normal;
    font-family: 'Orbitron';
    font-size: 1.5em;
}

.menu:hover {
    transition: .5s;
    text-decoration: none;
    -webkit-text-stroke: 1px #4be4b3;
    color: #ffffff;
    font-weight: normal;
    font-family: 'Orbitron';
    text-shadow:
      0 0 1px #4be4b3,
      0 0 3px #4be4b3,
      0 0 7px #4be4b3,
      0 0 12px #4be4b3,
      0 0 17px #4be4b3;
    font-size: 1.5em;
}


/* Main Page layout*/
.webpage {
    display: flex;
    width:1200px;
    margin: auto;
    margin-top:30px;
    margin-bottom:200px;
    overflow: auto;
    background-color: #161616;
    clip-path: inset(0px -10px -10px 0px);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 1.0);
}

.wrapper-left {
    position:relative;
    z-index: 2;
    overflow: auto;
    width:800px;
    background-color: #1b1b1b;
    clip-path: inset(0px -10px 0px 0px);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 1.0);
}

.wrapper-right {
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 400px;
}

/* Banner Content layout*/
.banner-wrapper {
    border-radius: 5px;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 1.0);
    margin: 20px;
    height: 190px;
    width:760px;
    background-image: linear-gradient( to bottom, #000000, #29035d);  
}

.banner {
    height: 190px;
    width:760px;
    background-image: url(/images/logos/singularitywatermark.png);
    background-position: center;
    background-repeat:no-repeat;
    background-size: 300px;
    text-align: center;    
}

.banner-title {
    text-decoration: none;
    letter-spacing: 2px;
    -webkit-text-stroke: 1px #4be4b3;
    color: #ffffff;
    font-weight: normal;
    font-family: 'Orbitron';
    text-shadow:
      0 0 1px #4be4b3,
      0 0 3px #4be4b3,
      0 0 7px #4be4b3,
      0 0 12px #4be4b3,
      0 0 17px #4be4b3;
    line-height: 190px;
}

/* Content Section layout*/
.wrapper-content {
    margin-top: none;
    width:800px;
}

.title-bar {
    position: relative;
    -webkit-box-shadow:inset 3px 0px 0px 0px #4be4b3;
    -moz-box-shadow:inset 3px 0px 0px 0px #4be4b3;
    box-shadow:inset 3px 0px 0px 0px #4be4b3;
    background-image: linear-gradient(to right, rgba(75, 228, 179, .4), rgba(0, 0, 0, 0));
    width: 100%;
    height: 40px;
}

.title-name {
    margin-left:20px;

}
.title-text {
    text-transform: uppercase;
    font-family: 'Orbitron';
    line-height: 40px;
    color: #4be4b3;
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    display: block;
}

.div-content {
    margin: 20px;
    padding:20px;
    width: 720px;
    align-items: center;
    border-radius: 4px;
    font-family: 'Roboto Condensed';
    color: #ffffff;
    font-size: 1.2em;
    background-image: url(/images/logos/singularitywatermark.png);
    background-size: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #131313;
}

.content-text {
    font-weight: normal;
    font-family: 'Orbitron';
    color: #4be4b3;
    margin: 20px;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    display: block;
}

/* Footer Content layout*/
.checkusout-wrapper {
    margin: auto;
    margin-bottom:20px;
    width:100%;
}

.checkusout-left {
    margin-left: 40px;
    text-align: left;
}

.footer:link {
    text-decoration: none;
    -webkit-text-stroke: 1px #4be4b3;
    color: #ffffff;
    font-weight: normal;
    font-family: 'Orbitron';
    font-size: 1.5em;
    display: block;
    width: 100%;
    padding-top:15px;
    padding-bottom:15px;
    background-color: #1b1b1b;
    border-bottom:1px solid #121212;
    text-align:center;
}

.footer:visited {
    text-decoration: none;
    -webkit-text-stroke: 1px #4be4b3;
    color: #ffffff;
    font-weight: normal;
    font-family: 'Orbitron';
    font-size: 1.5em;
    display: block;
    width: 100%;
    padding-top:15px;
    padding-bottom:15px;
    background-color: #1b1b1b;
    border-bottom:1px solid #121212;
    text-align:center;
}

.footer:hover {
    background-color: #1f1f1f;
}

.wrapper-event {
    margin: 20px;
    margin-bottom:65px;
    border-radius:5px;
    padding:20px;
    min-height: 200px;
    background-image: url("/images/logos/singularitywatermark.png");
    background-size: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #1b1b1b;
}

/* Raid Team Styling */

.team-title {
    display: none;
 }
 
 
 .team-div {
     margin: auto;
     margin-top: 15px;
     margin-bottom: 15px;
     position: relative;
     display: flex;
     width: 95%;
     height:80px;
     align-items: center;
     background-color: rgba(0, 0, 0, .6);
     border-radius: 4px;
 }
 
 .portrait {
     position: relative;
     width: 80px;
     height:80px;
     align-items: center;
     border-right: 1px solid black;
     border-radius: 4px 0px 0px 4px;
     background-size: cover;
     background-repeat: no-repeat;
 }
 
 .player-overlay {
     position: absolute;
     float: left;
     display: none;
     width: 80px;
     height:80px;
     align-items: center;
     border-radius: 4px 0px 0px 4px;
     background-image: linear-gradient(to right, rgba(000,000,000, 0) 60%, #222222 100%);
 }
 
 .player-portrait {
     Height: 80px;
     width: 80px;
     border-radius: 4px 0px 0px 4px;
 }
 
 .player-info {
     position: relative;
     width: 90%;
     height:80px;
     border-radius: 4px;
 }
 
 .rosterbg {
     width: 100%;
     margin: auto;
     margin-left: 15px;
     font-family: 'Sofia Sans', sans-serif;
     color: #ffffff;
     text-shadow: -1px 1px 0 #000,
                  1px 1px 0 #000,
                  1px -1px 0 #000,
                  -1px -1px 0 #000;
     font-size: 1em;
 }
 
 .rostername {
     margin-top: 5px;
     margin-left: 15px;
     text-align: left;
     font-family: 'Sofia Sans', sans-serif;
     color:fff;
     text-shadow: -1px 1px 0 #000,
                  1px 1px 0 #000,
                  1px -1px 0 #000,
                  -1px -1px 0 #000;
     font-size: 1.2em;
 }
 
 .rosterinfotitle{
     width:10%;
     color: #4be4b3;
 }
 
 .title-text2 {
    margin-left:20px;
    text-transform: uppercase;
    font-family: 'Orbitron';
    line-height: 40px;
    color: #4be4b3;
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    display: block;
}
 .rosterinfo{
     width:23%;
     text-align: left;
 }
 
 .Death-Knight {
     color: #C41F3B;
 }
 
 .Demon-Hunter {
     color: #A330C9;
 }
 
 .Druid {
     color: #FF7D0A;
 }
 
 .Evoker {
     color: #33937F;
 }
 
 .Hunter {
     color: #ABD473;
 }
 
 .Mage {
     color: #69CCF0;
 }
 
 .Monk {
     color: #00FF96;
 }
 
 .Paladin {
     color: #F58CBA;
 }
 
 .Priest {
     color: #FFFFFF;
 }
 
 .Rogue {
     color: #FFF569;
 }
 
 .Shaman {
     color: #0070DE;
 }
 
 .Warlock {
     color: #9482c9;
 }
 
 .Warrior {
     color: #C79C6E;
 }