body {
    margin: 0px;
    min-width:800px;
    background-image: linear-gradient(#0B0E17, #141833);
}

.hidden {
    display: none;
}

.loading-cursor {
    cursor: wait;
}

/* Main Navigation Bar */
.logo-bar {
    position: sticky;
    z-index:100;
    display: flex;
    align-items: center;
    top: 0px;
    Height: 70px;
    width: 100%;
    background-color: rgb(11, 14, 23);
    border-bottom: 1px solid #1f2937;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.596);
}

.menu-wrapper {
    margin: auto;
    width: 1600px;
}

.logo-div {
    margin-left:20px;
    float: left;
    display:flex;
    align-items: center;
    Height: 71px;
    width: 300px;
}

.logo {
    text-decoration: none;
    letter-spacing: 2px;
    color: #F9FAFB;
    font-weight: bold;
    font-family: 'inter';
    text-shadow: 0px 0px 8px #6B4FD3;
    font-size: 2.5em;
    line-height: 55px;
}

.logo-img {
    float:left;
    margin-right:10px;
    display: block;
    Height:55px;
    width: 55px;
}

.nav-bar {
    margin-right:20px;
    Display: Flex;
    Justify-content: right;
}

.nav-bar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.menu-link {
    float: right;
    padding-left: 20px;
    padding-right: 20px;
}

.menu:active {
    transition: .5s;
    line-height: 71px;
    text-decoration: none;
    color: #E5E7EB;
    font-family: 'inter';
    font-weight: 200;
    font-size:16px;
}

.menu:link {
    transition: .5s;
    line-height: 71px;
    text-decoration: none;
    color: #E5E7EB;
    font-family: 'inter';
    font-weight: 200;
    font-size:16px;
}


.menu:visited {
    transition: .5s;
    line-height: 71px;
    text-decoration: none;
    color: #E5E7EB;
    font-family: 'inter';
    font-weight: 200;
    font-size:16px;
}

.menu:hover {
    transition: .5s;
    line-height: 71px;
    text-decoration: none;
    color: #6B4FD3;
    font-family: 'inter';
    font-weight: 200;
    font-size:16px;
}

/* Banner Content layout*/
.banner-wrapper {
    display: Flex;
    justify-content: center;
    align-items: center;
    height: 385px;
    box-shadow: inset 0 -10px 10px rgba(0, 0, 0, 0.596);
    background-image: url(/images/banners/Midnight/Xalbg.png);
    background-position: center;
    border-bottom: 1px solid #1f2937;
}

.banner {
    height: 385px;
    background-position: center;
    background-repeat:no-repeat;
    text-align: center;    
}

.banner-title {
    margin: 0px;
    display: Flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    letter-spacing: 2px;
    text-shadow: 0px 0px 40px #6B4FD3;
    color: #E5E7EB;
    font-weight: bold;
    font-family: 'inter';
    font-size: 5em;
}

/* Main Page layout*/
.webpage {
    display: flex;
    width:1600px;
    margin: auto;
    margin-top:10px;
    margin-bottom:10px;
    overflow: auto;
}

.wrapper-left {
    position:relative;
    overflow: auto;
    width:1200px;
}

.wrapper-right {
    overflow: hidden;
    position: relative;
    width: 400px;
}

/* wrapper-left layout*/
.div-content {
    margin: 10px;
    margin-bottom: 20px;
    font-family: 'inter';
    font-size: 17px;
    align-items: center;
    background-color: rgba(36, 43, 73, 0.6);
    border-radius: 1rem;                
    padding: 1.5rem;                    
    border: 1px solid rgb(31, 41, 55);
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),
              0 4px 6px -4px rgba(0,0,0,0.1);
}

.title-bar {
    margin-left: 20px;
    height: 40px;
}

.title-text {
    float: left;
    margin:0px;
    line-height:40px;
    text-transform: uppercase;
    font-family: 'inter';
    color: #C7D2FE;
    font-weight: Bold;
    font-size: 24px;
    letter-spacing: 0.5px;
}  

.title-text2 {
    margin-left:20px;
    text-transform: uppercase;
    font-family: 'inter';
    color: #f9fafb;
    font-weight: Bold;
    font-size: 20px;
    letter-spacing: 0.5px;
    display: block;
}

.content-text {
    font-weight: 300;
    font-family: 'inter';
    color: #e5e7eb;
    margin: 20px;
    font-size: 18px;
    letter-spacing: 0.5px;
    display: block;
}

/* CSS specific to the team page */
.team-div {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    display: flex;
    width: 95%;
    height:150px;
    background-color: rgba(19, 23, 39, 0.6);   
    border-radius: 1rem;                                                    
    border: 1px solid rgb(31, 41, 55);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 
                0 4px 6px -4px rgba(0, 0, 0, 0.1); 
 }

 .leadership-div {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    display: flex;
    width: 95%;
    height:150px;
    background-color: rgba(19, 23, 39, 0.6);   
    border-radius: 1rem;                                                    
    border: 1px solid rgb(31, 41, 55);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 
                0 4px 6px -4px rgba(0, 0, 0, 0.1); 
 }
 
 .raid-grid {
     display: grid;
     grid-template-columns: 1fr 1fr;
 }

 .portrait {
     width: 150px;
     height:150px;
     align-items: center;
     border-right: 1px solid black;
     border-radius: 4px 0px 0px 4px;
     background-size: cover;
     background-repeat: no-repeat;
 }
 
 .player-portrait {
     Height: 150px;
     width: 150px;
     border-radius: 1rem 0px 0px 1rem;
 }
 
 .player-info {
     position: relative;
     width: 90%;
     border-radius: 4px;
 }
 
 .rosterbg {
     width: 100%;
     margin: auto;
     margin-top:8px;
     margin-left: 15px;
     font-family: 'Sofia Sans', sans-serif;
     color: #ffffff;
     text-shadow: -1px 1px 0 #000,
                  1px 1px 0 #000,
                  1px -1px 0 #000,
                  -1px -1px 0 #000;
     font-size: 1em;
 }
 
 .rostername {
     margin-top: 5px;
     margin-left: 15px;
     margin-bottom: -4px;
     text-align: left;
     font-family: 'Inter';
     color:fff;
     text-shadow: -1px 1px 0 #000,
                  1px 1px 0 #000,
                  1px -1px 0 #000,
                  -1px -1px 0 #000;
     font-size: 1.5em;
 }
 .rosterclass {
    margin-top:-5px;
    text-align: left;
    font-family: 'Inter';
    font-size: 1.1em;
    color: #C7D2FE;
 }

  .rosterilvl {
    margin-top:-5px;
    margin:-7px;
    font-family: 'Inter';
    font-size: .7em;
    color: #E6EBF3;
 }

 .rosterinfotitle {
     width:10%;
     font-family: 'Inter';
     font-size: .9em;
     color: #E6EBF3;
 }

 .rosterinfo {
     width:23%;
     text-align: left;
     font-family: 'Inter';
     font-size: .9em;
     color: #93C5FD;
 }
 
 .Death-Knight {
     color: #C41F3B;
 }
 
 .Demon-Hunter {
     color: #A330C9;
 }
 
 .Druid {
     color: #FF7D0A;
 }
 
 .Evoker {
     color: #33937F;
 }
 
 .Hunter {
     color: #ABD473;
 }
 
 .Mage {
     color: #69CCF0;
 }
 
 .Monk {
     color: #00FF96;
 }
 
 .Paladin {
     color: #F58CBA;
 }
 
 .Priest {
     color: #FFFFFF;
 }
 
 .Rogue {
     color: #FFF569;
 }
 
 .Shaman {
     color: #0070DE;
 }
 
 .Warlock {
     color: #9482c9;
 }
 
 .Warrior {
     color: #C79C6E;
 }

/* CSS specific to the race page */

.dropdown {
    float: right;
    background-color: rgba(11, 16, 32, 0.8);
    border: 1px solid rgba(49, 46, 129, 0.5);
    color: #E6EBF3;
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    line-height: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: all 0.2s ease-in-out;
    appearance: none;
}

.dropdown:focus {
  outline: none;
  border-color: rgba(49, 46, 129, 0.5);
  box-shadow: 0 0 0 2px rgba(129, 140, 248, 0.5);
}

.dropdown:optional {
  background-color: #0B1020; 
  color: #E6EBF3; 
}

.raid-dropdown {
    float: right;
    font-size: 20px;
}  

.race-div {
    width:100%;
    display: flex;
    align-items: center;
}

.raceoveralltable {
    margin: auto;
    margin-top: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    flex-wrap: wrap;
    border-radius:1em;
    overflow: hidden;
}

.guildinfo {
    height: 20%;
    align-items: center;
}

.guildinfotable {
    width: 100%;
    overflow: hidden;
    padding-left: 5px;
    text-align: left;
    font-family: 'inter';
    font-size: 1.0em;
    color: #ffffff;
    text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black;
    background-color: rgb(17, 24, 39, .9); 
    border: 1px solid rgb(30, 27, 75);
}

.guildname {
    width: 63%;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 5px;
    line-height: 45px;
    text-align: left;
    font-family: 'inter';
    font-size: 1.0em;
    color: #ffffff;
    text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black;
}

.guildrank {
    width: 10%;
    padding-left: 10px;
    line-height: 45px;
    text-align: center;
    font-family: 'inter';
    font-size: 1.0em;
    color: #cccccc;
    text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black;
}

.guilddata {
    height: 45px;
    width: 15%;
    overflow: hidden;
    padding-right: 10px;
    line-height: 45px;
    text-align: center;
    font-family: 'inter';
    font-size: 1.0em;
    color: #cccccc;
    text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black;
}

.guild-alliance {
    background: url(/images/race/alliance.png);
    background-repeat: no-repeat;
    width: 12%;
    padding-right: 10px;
    height: 45px;
}

.guild-horde {
    background: url(/images/race/horde.png);
    background-repeat: no-repeat;
    padding-right: 10px;
    width: 12%;
    height: 45px;
}

.bossheadertable {
    width: 100%;
    background-color: rgb(17, 24, 39, .9); 
    border: 1px solid rgb(30, 27, 75);
}

.bossheaderrank {
    width: 10%;
    line-height: 45px;
    text-align: center;
    font-family: 'inter';
    font-size: 1.0em;
    color: #ffffff;
    text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black;
    border-right: 1px solid rgb(30, 27, 75);
}

.bossheadername {
    width: 32%;
    line-height: 45px;
    text-align: center;
    font-family: 'inter';
    font-size: 1.0em;
    color: #ffffff;
    text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black;
    border-right: 1px solid rgb(30, 27, 75);
}

.bossheaderprogress {
    width: 58%;
    line-height: 45px;
    text-align: center;
    font-family: 'inter';
    font-size: 1.0em;
    color: #ffffff;
    text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black;
}
.bossoveralltable {
    margin-left: 0px;
    margin-top: 10px;
    width: 65%;
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius:1em;
    overflow: hidden;
}

.bosstable {
    width: 32%;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 5px;
    line-height: 45px;
    text-align: left;
    font-family: 'inter';
    font-size: 1.0em;
    color: #ffffff;
    text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black;
}
.bossrank {
    width: 4%;
    padding-left: 10px;
    line-height: 45px;
    text-align: center;
    font-family: 'inter';
    font-size: 1.0em;
    color: #cccccc;
    text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black;
}

.boss-alliance {
    background: url(/images/race/alliance.png);
    background-repeat: no-repeat;
    width: 5%;
    padding-right: 10px;
    height: 45px;
}

.boss-horde {
    background: url(/images/race/horde.png);
    background-repeat: no-repeat;
    padding-right: 10px;
    width: 5%;
    height: 45px;
}

.boss- {
    background: url(/images/race/wow.png);
    background-repeat: no-repeat;
    padding-right: 10px;
    width: 5%;
    height: 45px;
}

.bossprogress {
    height: 25px;
    width: 59%;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'inter';
    font-size: 1.0em;
    text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black;
}

.progress-bar {
    margin-top: -10px;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 13px;
    border-radius: 10px;
    overflow: hidden;
    background: rgb(24, 24, 48); 
    box-shadow: inset 0 0 6px rgba(120, 120, 200, 0.4);
}

.progress-bar::-webkit-progress-bar {
  background: transparent;
}

.progress-bar::-webkit-progress-value {
  background: linear-gradient(
    90deg,
    rgba(180, 110, 255, .2), 
    rgba(90, 190, 255, .2)  
  );
  box-shadow: 0 0 10px rgba(160, 100, 255, 0.9),
              inset 0 0 4px rgba(255, 255, 255, 0.4);
  background-size: cover;
  border-radius: 10px;
  transition: width 1.2s ease-in-out forwards;
}

.progress-bar::-moz-progress-bar {
  background: linear-gradient(
    90deg,
    rgba(180, 110, 255, .5),
    rgba(90, 190, 255, .5)
  );
  box-shadow: 0 0 10px rgba(160, 100, 255, 0.9),
              inset 0 0 4px rgba(255, 255, 255, 0.4);
  background-size: cover;
  border-radius: 10px;
  transition: width 1.2s ease-in-out forwards;
}

.progress-bar-empty {
    margin-top: -10px;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 13px;
    border-radius: 10px;
    overflow: hidden;
    background: rgb(24, 24, 48); 
    box-shadow: inset 0 0 6px rgba(120, 120, 200, 0.4);
}

.progress-bar-empty::-webkit-progress-bar {
  background: transparent;
}

.progress-bar-empty::-webkit-progress-value {
  background: transparent;
}

.progress-bar-empty::-moz-progress-bar {
  background: transparent;
}

.progress-text {
    float: right;
    margin-top:5px;
    margin-bottom:-5px;
    margin-right:5px;
    line-height: 20px;
    text-transform: uppercase;
    font-family: 'inter';
    color: #C7D2FE;
    font-weight: Bold;
    font-size: .7em;
}  
.boss-image {
    margin-right: 20px;
    border-right: 1px solid #00AEEF;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width:69px;
    height:50px;
    float: left;
}

#boss {
    border-radius:12px 0px 0px 12px;
    width:67px;
    height:48px;
}

.data-loading {
    text-decoration: none;
    letter-spacing: 2px;
    color: #F9FAFB;
    font-weight: bold;
    font-family: 'inter';
    text-shadow: 0px 0px 8px #6B4FD3;
    font-size: 1.8em;
    line-height: 55px;
    text-align: center;
  }

.data-loading-overlay {
    position: absolute;
    width: 99%;
    height: 98%;
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: rgb(15, 18, 31);
    border-radius: 1rem;                                   
    border: 1px solid rgb(31, 41, 55);
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),
              0 4px 6px -4px rgba(0,0,0,0.1);
}
  
/* Rightmenu Content layout*/
.checkusout-wrapper {
    margin: 10px;
    margin-top: 20px;
    background-color: rgba(11, 14, 23, 0.6);   
    border-radius: 1rem;                       
    padding: 1rem;                             
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06); 
}

.checkusout-left {
    margin-left: 40px;
    text-align: left;
}

.submenu:active {
  display: block;
  padding: 0.5rem 0.75rem;            
  border-radius: 0.5rem;
  font-family: 'inter';
  font-weight: 200;
  font-size:16px;
  color: #E5E7EB;                    
  font-size: 1rem;                   
  line-height: 1.5rem;               
  text-decoration: none;             
  transition: background-color 0.5s ease;
}

.submenu:visited {
  display: block;
  padding: 0.5rem 0.75rem;            
  border-radius: 0.5rem;
  font-family: 'inter';
  font-weight: 200;
  font-size:16px;
  color: #E5E7EB;                    
  font-size: 1rem;                   
  line-height: 1.5rem;               
  text-decoration: none;             
  transition: background-color 0.5s ease;
}


.submenu:link {
  display: block;
  padding: 0.5rem 0.75rem;            
  border-radius: 0.5rem; 
  font-family: 'inter';
  font-weight: 200;
  font-size:16px;
  color: #E5E7EB;                    
  font-size: 1rem;                   
  line-height: 1.5rem;               
  text-decoration: none;             
  transition: background-color 0.5s ease;
}

.submenu:hover  {
  display: block;
  padding: 0.5rem 0.75rem;            
  border-radius: 0.5rem;
  background-color: rgba(255,255,255,0.05);
  font-family: 'inter';
  font-weight: 200;
  font-size:16px; 
  color: #E5E7EB;                          
}

.wrapper-event {
    margin:10px;
    border-radius: 1rem;                      
    padding: 1rem; 
    min-height: 200px;
   background-color: rgba(36, 43, 73, 0.6);                              
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),
              0 2px 4px -2px rgba(0,0,0,0.1); 
  background-image: url("/images/logos/aphelionwatermark.png");
    background-size: 350px;
    background-position: center;
    background-repeat: no-repeat;

}

.events {
    font-family: 'inter';
    font-size: 1.125rem;   
    font-weight: 600;      
    color: #C7D2FE;        
    margin-bottom: 0.75rem;
}

 /*Footer CSS */

.footer-card-wrapper {
    display: flex;
    justify-content: center;
    width:1600px;
    margin: auto;
    margin-top: 40px;
    margin-bottom:20px;
    overflow: auto;
}

 .armory-card {
  margin: 20px;
  padding: 20px;
  float: left;
  background-image: url("/images/watermarks/wow.png");
  background-size: 220px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(19, 23, 39, 0.6);
  border-radius: 1rem;                                
  border: 1px solid rgb(31, 41, 55);
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),
              0 4px 6px -4px rgba(0,0,0,0.1);
  transition: box-shadow 0.5s ease;
}

.armory-card:hover {
  box-shadow: 0 0 20px #818CF8;
}

.raiderio-card {
  margin: 20px;
  padding: 20px;
  float: left;
  background-image: url("/images/watermarks/raiderio.png");
  background-size: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(19, 23, 39, 0.6);
  border-radius: 1rem;                                
  border: 1px solid rgb(31, 41, 55);
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),
              0 4px 6px -4px rgba(0,0,0,0.1);
  transition: box-shadow 0.5s ease;
}

.raiderio-card:hover {
  box-shadow: 0 0 20px #818CF8;
}

.logs-card {
  margin: 20px;
  padding: 20px;
  float: left;
  background-image: url("/images/watermarks/logs.png");
  background-size: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(19, 23, 39, 0.6);
  border-radius: 1rem;                                
  border: 1px solid rgb(31, 41, 55);
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),
              0 4px 6px -4px rgba(0,0,0,0.1);
  transition: box-shadow 0.5s ease;
}

.logs-card:hover {
  box-shadow: 0 0 20px #818CF8;
}

.copyright {
    width: 100%;
    border-top:1px solid #1f2937;
    display:flex;
    justify-content: center;
    align-items: center;
}

.c-text {
    text-align: center;
    font-weight: 300;
    font-family: 'inter';
    color: #818CF8;
    margin-top: 10px;
    font-size: 14px;
    letter-spacing: 0.5px;
    display: block;
}
