@page
@model IndexModel
@{
    ViewData["Title"] = "Leadership";
}

<div class='title-bar'>
        <div class='title-name'>
        <h1 class='title-text'>Leadership</h1>
    </div>    
</div>

<div id='leadership'>
<script type="text/javascript" src="/javascript/leadership.js"></script>
            <div id="race-wrapper" class='race-wrapper'>
            </div>  
</div>        
