@page
@using Singularity.Pages.AboutUs;

@model IndexModel
@{
    ViewData["Title"] = "Leadership";
}

<div id='leadership'>
<script type="text/javascript" src="/javascript/leadership.js"></script>
            <div id="leadership-wrapper">
            </div>  
</div>        
<script src="~/js/leadership.js"></script>