@page
@using Microsoft.Extensions.Caching.Memory
@using Singularity.Models
@using Singularity.Pages.AboutUs;

@inject IMemoryCache _cache

@model RaceModel

@section Scripts {
    <script>
        var requiresData = true;
    </script>
    <script src="~/js/site.js"></script>
    <script src="~/js/race.js"></script>
}

@if (Model.RaceViewModel != null)
{
    <div id="racecontent">
        @if (Model.RaceViewModel != null)
        {
            @await Html.PartialAsync("_RaceTables", Model.RaceViewModel, new ViewDataDictionary(ViewData)
            {
                { "DefaultRaidSlug", Model.DefaultRaidSlug }
            })
        }
        else
        {
            @await Html.PartialAsync("_DataLoading")
        }
    </div>
}
else
{
    <div id="loadingPartial">
        @await Html.PartialAsync("_DataLoading")
    </div>
}
