@page
@model IndexModel
@{
    ViewData["Title"] = "Raid Team";
}

<div class='title-bar'>
        <div class='title-name'>
        <h1 class='title-text'>Raid Team</h1>
    </div>    
</div>
<div id='raidcontent'>
    <div id="team-wrapper">
        <div class='raid-title-bar'>
        </div>        
    </div>  
</div> 
<script src="~/js/team.js"></script>