@page
@using Microsoft.Extensions.Caching.Memory
@using Singularity.Models
@using Singularity.Pages.AboutUs;

@inject IMemoryCache _cache

@model IndexModel

@section Scripts {
    <script>
        var requiresData = true;
    </script>
}
<div id='raidcontent' class='div-content'>
     <div class="title-bar">
                 <h2 class="title-text">Raid Team</h2>
     </div> 
  <div class="raid-grid">
                    
@if (Model.GuildSummary != null)
{
        @if (Model.GuildSummary.Roster != null && Model.GuildSummary.Roster.Members != null)
        {
            @foreach(var member in Model.GuildSummary.Roster.Members.OrderBy(s => s.Rank))
            {
                var characterName = member.Character.Name;
                @Html.Partial("_MemberDetails", member)
            }
        } else
        {
            @Html.Partial("_DataLoading")
        }       

}
else
{
    @Html.Partial("_DataLoading")
}
  </div>
</div> 