@page
@using Microsoft.Extensions.Caching.Memory
@using Singularity.Models
@using Singularity.Pages.AboutUs;

@inject IMemoryCache _cache

@model IndexModel

@section Scripts {
    <script>
        var requiresData = true;
    </script>
}

<div class='title-bar'>
    <div class='title-name'>
        <h1 class='title-text'>Raid Team</h1>
    </div>    
</div>
<div id='raidcontent' class='show-footer3'>
@if (Model.GuildSummary != null)
{
    <div id="team-wrapper">
        <div class='raid-title-bar'></div> 
        @if (Model.GuildSummary.Roster != null && Model.GuildSummary.Roster.Members != null)
        {
            @foreach(var member in Model.GuildSummary.Roster.Members.OrderBy(s => s.Rank))
            {
                var characterName = member.Character.Name;
                @Html.Partial("_MemberDetails", member)
            }
        } else
        {
            @Html.Partial("_DataLoading")
        }       
    </div> 
}
else
{
    @Html.Partial("_DataLoading")
}
</div> 