@page "/"
@using Singularity.Pages.AboutUs;

@model IndexModel
@{
    ViewData["Title"] = "About Us";
}

<div class='wrapper-content'>
    <div class='title-bar'>
        <div class='title-name'>
            <h1 class='title-text'>Definition</h1>
        </div>
    </div>
    <div class='div-content'>
        <h1 class='content-text'>
             The point in the orbit of a celestial body (such as a planet, comet, or asteroid) where it is farthest from the Sun.  The term comes from the Greek words "apo" (away) and "helios" (Sun). 


  </h1>    
    </div>
    <div class='title-bar'>
        <div class='title-name'>
            <h1 class='title-text'>About Us</h1>
        </div>
    </div>
    <div class='div-content'>
        <h1 class='content-text'>At Aphelion, we are a community of passionate and casual gamers united by our love for heroic progression raiding.</h1> <br>
        <h1 class='content-text'>"Our goal is to create an inclusive, supportive, and fun environment where every player, regardless of experience or background, feels welcome and valued.</h1> <br>
        <h1 class='content-text'>We strive to achieve success through teamwork, communication, and respect for each individual’s unique playstyle. Whether you're here to progress at your own pace or push heroic content with like-minded heroes, we believe in fostering a positive, encouraging space where all can grow, learn, and enjoy the journey together.  </h1>    
            
    </div>
</div>