@page "/"

@model IndexModel
@{
    ViewData["Title"] = "About Us";
}


<div class='wrapper-content'>
    <div class='title-bar'>
        <div class='title-name'>
            <h1 class='title-text'>About Us</h1>
        </div>
    </div>
    <div class='div-content'>
        <h1 class='content-text'>
            Singularity is a progression guild committed to building an inclusive community where our members can feel welcome and safe to be themselves.  </h1>
        
    </div>
</div>