@page "/"
@using Singularity.Pages.AboutUs;

@model IndexModel
@{
    ViewData["Title"] = "About Us";
}

<div class='wrapper-content'>
    <div class='title-bar'>
        <div class='title-name'>
            <h1 class='title-text'>Definition</h1>
        </div>
    </div>
    <div class='div-content'>
        <h1 class='content-text'>
            A point of infinite density where gravitational forces crush matter to an infinitely small space, causing the laws of physics to break down. It lies at the core of a black hole, surrounded by the event horizon, beyond which nothing can escape.  </h1>    
    </div>
    <div class='title-bar'>
        <div class='title-name'>
            <h1 class='title-text'>About Us</h1>
        </div>
    </div>
    <div class='div-content'>
        <h1 class='content-text'>
            Welcome to Singularity, a new mythic raiding guild dedicated to pushing the boundaries of teamwork, skill, and epic adventures. Our mission is to create an inclusive and dynamic environment where players of all backgrounds can come together to conquer the most challenging content the game has to offer.
<br><br>
At Singularity, we believe that every member brings unique strengths to the table. We prioritize communication, strategy, and camaraderie, ensuring that every raid is not just a test of skill, but also an opportunity to forge lasting friendships. Our experienced leadership team is committed to fostering a culture of respect and support, helping every player grow and succeed.
<br><br>
Join us as we embark on an epic journey through dungeons and raids, forging our legacy one boss at a time. Together, we will achieve greatness and leave our mark on the game. Welcome to Singularity  </h1>    
    </div>
</div>

<script>
    window.appData = {
        rosterData: @Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.RosterData)),
    };
    localStorage.setItem('appData', JSON.stringify(window.appData));
</script>