@page
@model Aphelion.Pages.IndexModel
@{
    ViewData["Title"] = "About Us";
}



<div class='aboutus-title-bar'>
    <div class='aboutus-title'>
        <h2 class='title'>About Us</h2>
    </div>
</div>
<div class='aboutus-div'>
    <pre><h10 class='text'>
        Singularity is a casual guild committed to building an inclusive community where our members can feel welcome and safe to be themselves. Our focus has always been on casual end-game content, including heroic raiding and mythic+. To learn more about who we are and where we came from, check out the history of Aphelion below!</h10>
    </pre>
</div>

<div class='aboutus-title-bar'>
    <div class='aboutus-title'>
        <h2 class='title'>History</h2>
    </div>
</div>
<div class='aboutus-div'>
    <pre>
    <h10 class='text'></h10></pre>
</div>